# Core functionality - changes here should be rare!
/src/app.py                   @oxblixxx
/src/backend/database.py      @oxblixxx
/src/backend/routers/auth.py  @oxblixxx

# The frontend will need refactored soon to be more object oriented.
/src/static/   @oxblixxx
